body {
    text-align: left;
    background-color: beige;
    
}

h4 {
    color: indigo; 
    text-decoration: underline;
    text-decoration-style:dotted;
    font: 15 px;
}

.row::after {

    content: "";
    clear: both;
    display: table;
}

.travel main_div{
    border
    
}
